# Compiled and generated things.
build
*.pyc
__pycache__
*.mo
docs/html
*.log
resources/i18n/en_US
resources/i18n/en_7S
resources/i18n/x-test
resources/firmware
resources/materials
CuraEngine.exe
LC_MESSAGES
.cache
*.qmlc
.mypy_cache
.pytest_cache

#MacOS
.DS_Store

# Editors and IDEs.
*kdev*
*.kate-swp
*.lprof
*~
*.qm
.directory
.idea
cura.desktop

# Eclipse+PyDev
.project
.pydevproject
.settings

#Externally located plug-ins commonly installed by our devs.
plugins/cura-big-flame-graph
plugins/cura-god-mode-plugin
plugins/cura-siemensnx-plugin
plugins/CuraBlenderPlugin
plugins/CuraCloudPlugin
plugins/CuraDrivePlugin
plugins/CuraLiveScriptingPlugin
plugins/CuraOpenSCADPlugin
plugins/CuraPrintProfileCreator
plugins/CuraSolidWorksPlugin
plugins/CuraVariSlicePlugin
plugins/Doodle3D-cura-plugin
plugins/FlatProfileExporter
plugins/GodMode
plugins/OctoPrintPlugin
plugins/ProfileFlattener
plugins/SettingsGuide
plugins/SVGToolpathReader
plugins/X3GWriter

#Build stuff
CMakeCache.txt
CMakeFiles
CPackSourceConfig.cmake
Testing/
CTestTestfile.cmake
Makefile*
junit-pytest-*
CuraVersion.py
cmake_install.cmake

#Debug
*.gcode
run.sh
.scannerwork/
CuraEngine

/.coverage

#Prevents import failures when plugin running tests
plugins/__init__.py
