# Compiled and generated things.
build
*.pyc
__pycache__
*.mo
docs/html
*.log
resources/i18n/en
resources/i18n/x-test
resources/firmware
resources/materials
LC_MESSAGES

# Editors and IDEs.
*kdev*
*.kate-swp
*.lprof
*~
*.qm
.idea

# Eclipse+PyDev
.project
.pydevproject
.settings

# Debian packaging
debian*
