[Desktop Entry]
Version=1.0
Name=Cura
GenericName=3D Printing Software
Comment=
Exec=/usr/bin/cura_app.py
TryExec=/usr/bin/cura_app.py
Icon=cura
Terminal=false
Type=Application
Categories=Graphics;
Keywords=3D;Printing;
