[Desktop Entry]
Version=15.06.01
Name=Cura
GenericName=3D Printing Software
Comment=
Exec=/usr/bin/cura_app.py
TryExec=/usr/bin/cura_app.py
Icon=/usr/share/cura/resources/images/cura-icon.png
Terminal=false
Type=Application
MimeType=application/sla
Categories=Graphics;
Keywords=3D;Printing;
