<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product
        Id="*"
        Name="{{ app_name }}"
        Language="1033"
        Version="{{ version_major }}.{{ version_minor }}.{{ version_patch }}"
        Manufacturer="{{ company }}"
        UpgradeCode="{{ upgrade_code }}"
    >
        <Package InstallerVersion="500"
            Compressed="yes"
            InstallScope="perMachine"
            Manufacturer="{{ company }}"
            Description="UltiMaker Cura the most popular 3D printing slicer"
            Keywords="UltiMaker,Cura,3D,printing,slicer"
            Comments="Copyright (c) {{ year }} UltiMaker" />

        <InstallExecuteSequence>
            <RemoveExistingProducts Before="InstallInitialize" />
        </InstallExecuteSequence>

        <Property Id="PREVIOUS_VERSIONS_INSTALLED" Secure="yes" Value="{{ 1 if "Enterpise" in app_name else 0 }}" />
        <Upgrade Id="{{ upgrade_code }}">
            <UpgradeVersion
                Minimum="4.13.2" Maximum="{{ version_major }}.{{ version_minor }}.{{ version_patch }}"
                Property="PREVIOUS_VERSIONS_INSTALLED"
                IncludeMinimum="no" IncludeMaximum="no"
            />
        </Upgrade>

        {% if "Enterpise" in app_name %}
        <Property Id="PREVIOUS_413_INSTALLED" Secure="yes" />
        <Upgrade Id="53C603BB-2B17-4206-A609-29C2E0D0B0AE">
            <UpgradeVersion
                Minimum="1.0.0" Maximum="4.13.2"
                Property="PREVIOUS_413_INSTALLED"
                IncludeMinimum="yes" IncludeMaximum="yes"
            />
        </Upgrade>
        {% endif %}

        <Condition Message= "OS must be Windows 8.1 64bit or higher.">
            <![CDATA[Installed OR VersionNT64 >= 600]]>
        </Condition>

        <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

        <UI Id="MyWixUI_Mondo">
            <UIRef Id="WixUI_Mondo" />

            <DialogRef Id="CustomizeCuraDlg" />

            <Publish Dialog="SetupTypeDlg" Control="CustomButton" Event="NewDialog" Value="CustomizeCuraDlg">1</Publish>

            <Publish Dialog="CustomizeCuraDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">WixUI_InstallMode = "Change"</Publish>
            <Publish Dialog="CustomizeCuraDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg" Order="2">WixUI_InstallMode = "InstallCustom"</Publish>
            <Publish Dialog="CustomizeCuraDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeCuraDlg" Order="1">WixUI_InstallMode = "InstallCustom"</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeCuraDlg" Order="3">WixUI_InstallMode = "Change"</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeCuraDlg">1</Publish>

        </UI>
        <UIRef Id="WixUI_ErrorProgressText" />

        <WixVariable Id="WixUILicenseRtf" Value="{{ cura_license_file }}" />
        <WixVariable Id="WixUIDialogBmp" Value="{{ cura_banner_side }}" />
        <WixVariable Id="WixUIBannerBmp" Value="{{ cura_banner_top }}" />

        <Icon Id="ICO_Cura" SourceFile="{{ cura_icon }}" />
        <Property Id="ARPPRODUCTICON" Value="ICO_Cura" />

        <!--Directory structure-->
        <Directory Id="TARGETDIR" Name="SourceDir">
           <Directory Id="ProgramFiles64Folder">
               <Directory Id="APPLICATIONFOLDER" Name="{{ app_name }} {{ version }}" />
               <Directory Id="ProgramMenuFolder">
                   <Directory Id="ShortCutDir" Name="{{ app_name }}" />
               </Directory>
           </Directory>
        </Directory>

        <Property Id="ApplicationFolderName" Value="{{ app_name }} {{ version }}" />
        <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

        <!--Shortcuts-->
        <DirectoryRef Id="ShortCutDir">
            <Component Id="CMP_Shortcuts" Guid="{{ shortcut_uuid }}">
                <Shortcut Id="SHRT_Cura"
                          Name="{{ app_name }} {{ version }}"
                          Description="{{ app_name }} {{ version }}"
                          Target="[MyProgramDir]{{ main_app }}"
                          Icon="ICO_Cura"  />
                <Shortcut Id="SHRT_UninstallShortcut"
                          Name="Uninstall {{ app_name }} {{ version }}"
                          Description= "Uninstalls {{ app_name }} {{ version }}"
                          Target="[System64Folder]msiexec.exe"
                          Arguments="/x [ProductCode]" />
                <RemoveFolder Id="RemoveMyShortcutsDir"
                              On="uninstall" />
                <RegistryValue Root="HKCU"
                               Key="Software\{{ company }}\{{ app_name }}"
                               Name="installed"
                               Type="integer"
                               Value="1"
                               KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <Feature Id="ProductFeature" Title="{{ app_name }}" Level="1">
            <ComponentGroupRef Id="NewFilesGroup" />
            <ComponentRef Id="CMP_Shortcuts" />
        </Feature>
    </Product>
</Wix>