Package: cura
Version: 14.01
Section: misc
Priority: optional
Architecture: i386
Essential: no
Depends: python-wxgtk2.8, python-opengl, python-serial, python-numpy
Maintainer: Daid <daid303@gmail.com>
Provides: cura
Installed-Size: 10000
Description: Cura is a full software solution for 3D printing,
 aimed at RepRaps and the Ultimaker. It's free software payed for
 and maintained by Ultimaker.

