Source: cura
Priority: optional
Maintainer: Gregor Riepl <onitake@gmail.com>
Build-Depends: debhelper (>= 9), cmake (>=2.8.12), dh-python,
 python3-all,
 uranium-tools (>=2.3.0),
 gettext
Standards-Version: 3.9.8
X-Python3-Version: >= 3.4
Section: misc
Homepage: https://github.com/Ultimaker/Cura
Vcs-Git: https://github.com/Ultimaker/Cura
Vcs-Browser: https://github.com/Ultimaker/Cura

Package: cura
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends},
 python3-serial,
 python3-pyqt5, python3-pyqt5.qtopengl,
 qml-module-qtqml-models2,
 qml-module-qtquick-controls,
 qml-module-qtquick-dialogs,
 qml-module-qt-labs-folderlistmodel,
 qml-module-qt-labs-settings,
 python3-uranium (>=2.3.0), uranium-plugins (>=2.3.0), cura-engine (>=1:2.3.0)
Provides: ${python3:Provides}
XB-Python3-Version: ${python3:Versions}
Description: 3d printing application
 This is the new, shiny frontend for Cura.
