Source: cura
Priority: optional
Maintainer: Gregor Riepl <onitake@gmail.com>
Build-Depends: debhelper (>= 10), cmake (>=2.8.12), dh-python,
 python3-all,
 uranium-tools (>=2.5.0),
 gettext
Standards-Version: 3.9.8
X-Python3-Version: >= 3.4
Section: misc
Homepage: https://github.com/Ultimaker/Cura
Vcs-Browser: https://anonscm.debian.org/cgit/3dprinter/packages/cura.git/
Vcs-Git: https://anonscm.debian.org/git/3dprinter/packages/cura.git

Package: cura
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends},
 python3-serial,
 python3-pyqt5, python3-pyqt5.qtopengl,
 qml-module-qtqml-models2,
 qml-module-qtquick-controls,
 qml-module-qtquick-dialogs,
 qml-module-qt-labs-folderlistmodel,
 qml-module-qt-labs-settings,
 fonts-open-sans,
 python3-uranium (>=2.5.0), uranium-plugins (>=2.5.0), cura-engine (>=1:2.5.0),
 python3-savitar (>=2.5)
Recommends: python3-zeroconf, fdm-materials (>=2.5.0)
Provides: ${python3:Provides}
XB-Python3-Version: ${python3:Versions}
Description: 3D printing application
 Cura prepares your model for 3D printing.
 For novices, it makes it easy to get great results.
 For experts, there are over 200 settings to adjust to your needs.
 This is the new, shiny frontend for Cura (dubbed 'Cura 2').
