version: 1

AppDir:
  path: {{ app_dir }}
  app_info:
    id: com.ultimaker.cura
    name: UltiMaker Cura
    icon: {{ icon }}
    version: {{ version }}
    exec: UltiMaker-Cura
    exec_args: $@
  apt:
    arch:
    - amd64
    allow_unauthenticated: true
    sources:
    - sourceline: deb http://nl.archive.ubuntu.com/ubuntu/ jammy main restricted
    - sourceline: deb http://nl.archive.ubuntu.com/ubuntu/ jammy-updates main restricted
    - sourceline: deb http://nl.archive.ubuntu.com/ubuntu/ jammy universe
    - sourceline: deb http://nl.archive.ubuntu.com/ubuntu/ jammy-updates universe
    - sourceline: deb http://nl.archive.ubuntu.com/ubuntu/ jammy multiverse
    - sourceline: deb http://nl.archive.ubuntu.com/ubuntu/ jammy-updates multiverse
    - sourceline: deb http://nl.archive.ubuntu.com/ubuntu/ jammy-backports main restricted
        universe multiverse
    - sourceline: deb http://security.ubuntu.com/ubuntu jammy-security main restricted
    - sourceline: deb http://security.ubuntu.com/ubuntu jammy-security universe
    - sourceline: deb http://security.ubuntu.com/ubuntu jammy-security multiverse
    - sourceline: deb https://releases.jfrog.io/artifactory/jfrog-debs xenial contrib
    - sourceline: deb http://apt.llvm.org/jammy/ llvm-toolchain-jammy-14 main
    - sourceline: deb https://ppa.launchpadcontent.net/ubuntu-toolchain-r/test/ubuntu/
        jammy main
    - sourceline: deb https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu/ jammy
        main
    - sourceline: deb [arch=amd64] https://packages.microsoft.com/repos/ms-teams stable
        main
    - sourceline: deb https://ppa.launchpadcontent.net/ppa-verse/cling/ubuntu/ jammy
        main
    - sourceline: deb [arch=amd64] https://dl.google.com/linux/chrome/deb/ stable
        main
    - sourceline: deb [signed-by=/usr/share/keyrings/nodesource.gpg] https://deb.nodesource.com/node_14.x
        jammy main
    - sourceline: deb [arch=amd64 signed-by=/usr/share/keyrings/transip-stack.gpg]
        https://mirror.transip.net/stack/software/deb/Ubuntu_22.04/ ./
    - sourceline: deb http://repository.spotify.com stable non-free
    - sourceline: deb [arch=amd64,arm64,armhf] http://packages.microsoft.com/repos/code
        stable main
    - sourceline: deb https://packagecloud.io/slacktechnologies/slack/debian/ jessie
        main
    include:
      - libc6:amd64
      - xdg-desktop-portal-kde:amd64
      - libcap2:amd64
      - libcom-err2:amd64
      - libdbus-1-3:amd64
      - libgpg-error0:amd64
      - libgtk-3-common
      - libkeyutils1:amd64
      - libllvm13
      - liblzma5:amd64
      - libpcre3:amd64
      - libqt6gui6
      - libqt6qml6
      - libqt6qmlworkerscript6
      - libqt6quick6
      - libselinux1:amd64
      - libtinfo6:amd64
      - qml6-module-qtqml-workerscript:amd64
      - qml6-module-qtquick:amd64
      - qt6-gtk-platformtheme:amd64
      - qt6-qpa-plugins:amd64
        # x11
      - libx11-6
      - libx11-xcb1
      - libxcb1
      - libxcb-render0
      - libxcb-xfixes0
      - libxcb-shape0
      - libxcb-dri2-0
      - libxcb-shm0
      - libxcb-glx0
      - libxcb-present0
      - libxcb-dri3-0
        # graphic libraries interface (safe graphics bundle including drivers, acceleration may not work in some systems)
      - libglvnd0
      - libglx0
      - libglapi-mesa
      - libgl1
      - libegl1
      - libgbm1
      - libdrm2
      - libglx-mesa0
      - libgl1-amber-dri
      - libgl1-mesa-dri
      - mesa-utils
      - libgl1-mesa-glx
      - libdrm-amdgpu1
      - libdrm-nouveau2
    exclude:
      - hicolor-icon-theme
      - adwaita-icon-theme
      - humanity-icon-theme
  files:
    include: []
    exclude:
    - usr/share/man
    - usr/share/doc/*/README.*
    - usr/share/doc/*/changelog.*
    - usr/share/doc/*/NEWS.*
    - usr/share/doc/*/TODO.*
  runtime:
    env:
      APPDIR_LIBRARY_PATH: "$APPDIR/usr/lib/x86_64-linux-gnu:$APPDIR/lib/x86_64-linux-gnu:$APPDIR/usr/lib:$APPDIR/usr/lib/x86_64-linux-gnu/gdk-pixbuf-2.0/2.10.0/loaders"
      PYTHONPATH: "$APPDIR"
      QT_PLUGIN_PATH: "$APPDIR/qt/plugins"
      QML2_IMPORT_PATH: "$APPDIR/qt/qml"
      QT_QPA_PLATFORMTHEME: xdgdesktopportal
  test:
    fedora-30:
      image: appimagecrafters/tests-env:fedora-30
      command: ./AppRun
      use_host_x: True
    debian-stable:
      image: appimagecrafters/tests-env:debian-stable
      command: ./AppRun
      use_host_x: True
    archlinux-latest:
      image: appimagecrafters/tests-env:archlinux-latest
      command: ./AppRun
      use_host_x: True
    centos-7:
      image: appimagecrafters/tests-env:centos-7
      command: ./AppRun
      use_host_x: True
    ubuntu-xenial:
      image: appimagecrafters/tests-env:ubuntu-xenial
      command: ./AppRun
      use_host_x: True
AppImage:
  arch: {{ arch }}
  file_name: {{ file_name }}
  update-information: guess
