Source: cura
Package: cura
Version: 14.01-1.01-c6a3
Maintainer: Aleph Objects, Inc. <info@alephobjects.com>
Section: misc
Priority: optional
Architecture: amd64
Essential: no
Depends: python-wxgtk2.8, python-opengl, python-serial, python-numpy
Provides: cura
Installed-Size: 10000
Description: Cura is a full software solution for 3D printing,
 aimed at RepRaps and the Ultimaker. It's free software paid for
 and maintained by Ultimaker.

