name: Conan Package Discovery by Jira Ticket

on:
  workflow_dispatch:
    inputs:
      jira_ticket_number:
        description: 'Jira ticket number for Conan package discovery (e.g., cura_12345)'
        required: true
        type: string
      start_builds:
        default: false
        required: false
        type: boolean

permissions: {}

jobs:
  find-packages:
    name: Find packages for Jira ticket
    uses: ultimaker/cura-workflows/.github/workflows/find-package-by-ticket.yml@jira_find_package
    with:
      jira_ticket_number: ${{ inputs.jira_ticket_number }}
      start_builds: ${{ inputs.start_builds }}
    secrets: inherit
